<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" runat="server" media="screen" href="~/Content/style.css" />
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Recipes", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("List", "Index", "Home")</li>
                <li>@Html.ActionLink("Add", "Add", "Home")</li>
                <li>@Html.ActionLink("Delete", "Delete", "Home")</li>
                <li>@Html.ActionLink("Update", "Update", "Home")</li>
                <li>@Html.ActionLink(Session["UserName"] == null?"Not logged in":"Logout from " + Session["UserName"].ToString(), "Logout", "Login")</li>
            </ul>
        </div>
    </div>
</div>
<div class="container custom-container">
    <h1 class="heading">Recipes</h1>
    @RenderBody()
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>